In [0]:
import numpy as np
import pandas as pd

In [0]:
c_v = pd.read_excel("/content/TimeSeries_Action_Call.xlsx")

In [0]:
c_v

               Returnees  ...  Follow-up calls inpast 24 hrs
0    Returnees from Iran  ...                            353
1   Returnees from China  ...                            400
2    Returnees from Iran  ...                            668
3   Returnees from China  ...                            109
4    Returnees from Iran  ...                            632
5   Returnees from China  ...                            186
6    Returnees from Iran  ...                            329
7   Returnees from China  ...                             42
8    Returnees from Iran  ...                            443
9   Returnees from China  ...                             77
10   Returnees from Iran  ...                              0
11  Returnees from China  ...                              0
12   Returnees from Iran  ...                            438
13  Returnees from China  ...                             20
14   Returnees from Iran  ...                            274
15  Returnees from China  ...                            719
16   Returnees from Iran  ...                             32
17  Returnees from China  ...                            493
18   Returnees from Iran  ...                            286
19  Returnees from China  ...                              0
20   Returnees from Iran  ...                            354
21  Returnees from China  ...                            266
22   Returnees from Iran  ...                            139
23  Returnees from China  ...                            451
24   Returnees from Iran  ...                            173
25  Returnees from China  ...                            342
26   Returnees from Iran  ...                              0
27  Returnees from China  ...                            424
28   Returnees from Iran  ...                            185
29  Returnees from China  ...                            235
30   Returnees from Iran  ...                            416
31  Returnees from China  ...                            350
32   Returnees from Iran  ...                            133
33  Returnees from China  ...                            267
34   Returnees from Iran  ...                            192
35  Returnees from China  ...                            520
36   Returnees from Iran  ...                              0
37  Returnees from China  ...                            162
38   Returnees from Iran  ...                            100
39  Returnees from China  ...                             71

[40 rows x 7 columns]

In [0]:
c_v.rename(columns = {'Advised Self-Quarantine':'Advised_Self_Quarantine','Cumulative no offirst-time calls':'Cumulative_no_offirst_time_calls',
                   'Cumulativefollow-up calls':'Cumulative_follow_up_calls','First-time calls inpast 24 hrs':'First_time_calls_inpast_24_hrs',
                    'Follow-up calls inpast 24 hrs':'Follow_up_calls_inpast_24_hrs'
                    },inplace=True)

In [0]:
c_v

               Returnees  ...  Follow_up_calls_inpast_24_hrs
0    Returnees from Iran  ...                            353
1   Returnees from China  ...                            400
2    Returnees from Iran  ...                            668
3   Returnees from China  ...                            109
4    Returnees from Iran  ...                            632
5   Returnees from China  ...                            186
6    Returnees from Iran  ...                            329
7   Returnees from China  ...                             42
8    Returnees from Iran  ...                            443
9   Returnees from China  ...                             77
10   Returnees from Iran  ...                              0
11  Returnees from China  ...                              0
12   Returnees from Iran  ...                            438
13  Returnees from China  ...                             20
14   Returnees from Iran  ...                            274
15  Returnees from China  ...                            719
16   Returnees from Iran  ...                             32
17  Returnees from China  ...                            493
18   Returnees from Iran  ...                            286
19  Returnees from China  ...                              0
20   Returnees from Iran  ...                            354
21  Returnees from China  ...                            266
22   Returnees from Iran  ...                            139
23  Returnees from China  ...                            451
24   Returnees from Iran  ...                            173
25  Returnees from China  ...                            342
26   Returnees from Iran  ...                              0
27  Returnees from China  ...                            424
28   Returnees from Iran  ...                            185
29  Returnees from China  ...                            235
30   Returnees from Iran  ...                            416
31  Returnees from China  ...                            350
32   Returnees from Iran  ...                            133
33  Returnees from China  ...                            267
34   Returnees from Iran  ...                            192
35  Returnees from China  ...                            520
36   Returnees from Iran  ...                              0
37  Returnees from China  ...                            162
38   Returnees from Iran  ...                            100
39  Returnees from China  ...                             71

[40 rows x 7 columns]

In [0]:
c_v.drop('number',axis=1,inplace=True)

In [0]:
c_v.head()

              Returnees  ...  Follow_up_calls_inpast_24_hrs
0   Returnees from Iran  ...                            353
1  Returnees from China  ...                            400
2   Returnees from Iran  ...                            668
3  Returnees from China  ...                            109
4   Returnees from Iran  ...                            632

[5 rows x 7 columns]

In [0]:
c_v

               Returnees  ...  Follow_up_calls_inpast_24_hrs
0    Returnees from Iran  ...                            353
1   Returnees from China  ...                            400
2    Returnees from Iran  ...                            668
3   Returnees from China  ...                            109
4    Returnees from Iran  ...                            632
5   Returnees from China  ...                            186
6    Returnees from Iran  ...                            329
7   Returnees from China  ...                             42
8    Returnees from Iran  ...                            443
9   Returnees from China  ...                             77
10   Returnees from Iran  ...                              0
11  Returnees from China  ...                              0
12   Returnees from Iran  ...                            438
13  Returnees from China  ...                             20
14   Returnees from Iran  ...                            274
15  Returnees from China  ...                            719
16   Returnees from Iran  ...                             32
17  Returnees from China  ...                            493
18   Returnees from Iran  ...                            286
19  Returnees from China  ...                              0
20   Returnees from Iran  ...                            354
21  Returnees from China  ...                            266
22   Returnees from Iran  ...                            139
23  Returnees from China  ...                            451
24   Returnees from Iran  ...                            173
25  Returnees from China  ...                            342
26   Returnees from Iran  ...                              0
27  Returnees from China  ...                            424
28   Returnees from Iran  ...                            185
29  Returnees from China  ...                            235
30   Returnees from Iran  ...                            416
31  Returnees from China  ...                            350
32   Returnees from Iran  ...                            133
33  Returnees from China  ...                            267
34   Returnees from Iran  ...                            192
35  Returnees from China  ...                            520
36   Returnees from Iran  ...                              0
37  Returnees from China  ...                            162
38   Returnees from Iran  ...                            100
39  Returnees from China  ...                             71

[40 rows x 7 columns]

In [0]:
c_v.columns

Index(['Returnees', 'Advised_Self_Quarantine',
       'Cumulative_no_offirst_time_calls', 'Cumulative_follow_up_calls',
       'Date', 'First_time_calls_inpast_24_hrs',
       'Follow_up_calls_inpast_24_hrs'],
      dtype='object')

In [0]:
c_v.values

array([['Returnees from Iran', 0, 9459, 2553, '11-Mar-2020', 0, 353],
       ['Returnees from China', 11, 5342, 7746, '11-Mar-2020', 17, 400],
       ['Returnees from Iran', 14, 9475, 3221, '12-Mar-2020', 16, 668],
       ['Returnees from China', 7, 5352, 7855, '12-Mar-2020', 10, 109],
       ['Returnees from Iran', 0, 9475, 3853, '13-Mar-2020', 0, 632],
       ['Returnees from China', 10, 5362, 8041, '13-Mar-2020', 10, 186],
       ['Returnees from Iran', 3, 9480, 4182, '14-Mar-2020', 5, 329],
       ['Returnees from China', 5, 5370, 8083, '14-Mar-2020', 8, 42],
       ['Returnees from Iran', 0, 9480, 4625, '15-Mar-2020', 0, 443],
       ['Returnees from China', 0, 5370, 8160, '15-Mar-2020', 0, 77],
       ['Returnees from Iran', 3, 9488, 4625, '16-Mar-2020', 8, 0],
       ['Returnees from China', 11, 5394, 8160, '16-Mar-2020', 24, 0],
       ['Returnees from Iran', 0, 9488, 5063, '17-Mar-2020', 0, 438],
       ['Returnees from China', 13, 5413, 8180, '17-Mar-2020', 19, 20],
       ['Returnees from Iran', 0, 9488, 5337, '18-Mar-2020', 0, 274],
       ['Returnees from China', 16, 5439, 8899, '18-Mar-2020', 26, 719],
       ['Returnees from Iran', 0, 9488, 5337, '19-Mar-2020', 0, 32],
       ['Returnees from China', 0, 5441, 9392, '19-Mar-2020', 2, 493],
       ['Returnees from Iran', 0, 9488, 5623, '20-Mar-2020', 0, 286],
       ['Returnees from China', 8, 5458, 9392, '20-Mar-2020', 17, 0],
       ['Returnees from Iran', 1, 9489, 5977, '21-Mar-2020', 1, 354],
       ['Returnees from China', 1, 5462, 9658, '21-Mar-2020', 4, 266],
       ['Returnees from Iran', 0, 9489, 6116, '22-Mar-2020', 0, 139],
       ['Returnees from China', 3, 5473, 10109, '22-Mar-2020', 11, 451],
       ['Returnees from Iran', 0, 9489, 6289, '23-Mar-2020', 0, 173],
       ['Returnees from China', 1, 5474, 10451, '23-Mar-2020', 1, 342],
       ['Returnees from Iran', 0, 9489, 6289, '24-Mar-2020', 0, 0],
       ['Returnees from China', 0, 5474, 10875, '24-Mar-2020', 0, 424],
       ['Returnees from Iran', 0, 9489, 6474, '25-Mar-2020', 0, 185],
       ['Returnees from China', 0, 5474, 11110, '25-Mar-2020', 0, 235],
       ['Returnees from Iran', 0, 9489, 6890, '26-Mar-2020', 0, 416],
       ['Returnees from China', 0, 5474, 11460, '26-Mar-2020', 0, 350],
       ['Returnees from Iran', 0, 9489, 6923, '27-Mar-2020', 0, 133],
       ['Returnees from China', 0, 5474, 11727, '27-Mar-2020', 0, 267],
       ['Returnees from Iran', 0, 9489, 7115, '28-Mar-2020', 0, 192],
       ['Returnees from China', 0, 5474, 12247, '28-Mar-2020', 0, 520],
       ['Returnees from Iran', 0, 9489, 7115, '29-Mar-2020', 0, 0],
       ['Returnees from China', 0, 5474, 12409, '29-Mar-2020', 0, 162],
       ['Returnees from Iran', 0, 9489, 7215, '30-Mar-2020', 0, 100],
       ['Returnees from China', 0, 5474, 12480, '30-Mar-2020', 0, 71]],
      dtype=object)

In [0]:
c_v.index

RangeIndex(start=0, stop=40, step=1)

In [0]:
c_v['Returnees'] = c_v.Returnees.astype(str)

In [0]:
c_v.dtypes

Returnees                           object
Advised_Self_Quarantine              int64
Cumulative_no_offirst_time_calls     int64
Cumulative_follow_up_calls           int64
Date                                object
First_time_calls_inpast_24_hrs       int64
Follow_up_calls_inpast_24_hrs        int64
dtype: object

In [0]:
c_v['Date']=pd.to_datetime(c_v.Date)

In [0]:
c_v['Date']

0    2020-03-11
1    2020-03-11
2    2020-03-12
3    2020-03-12
4    2020-03-13
5    2020-03-13
6    2020-03-14
7    2020-03-14
8    2020-03-15
9    2020-03-15
10   2020-03-16
11   2020-03-16
12   2020-03-17
13   2020-03-17
14   2020-03-18
15   2020-03-18
16   2020-03-19
17   2020-03-19
18   2020-03-20
19   2020-03-20
20   2020-03-21
21   2020-03-21
22   2020-03-22
23   2020-03-22
24   2020-03-23
25   2020-03-23
26   2020-03-24
27   2020-03-24
28   2020-03-25
29   2020-03-25
30   2020-03-26
31   2020-03-26
32   2020-03-27
33   2020-03-27
34   2020-03-28
35   2020-03-28
36   2020-03-29
37   2020-03-29
38   2020-03-30
39   2020-03-30
Name: Date, dtype: datetime64[ns]

In [0]:
c_v.duplicated().any()

False

In [0]:
c_v.to_excel('/content/TimeSeries_Action_Call.xlsx') ##saving back to excel

In [0]:
c_v.describe() #data is cleaned

       Advised_Self_Quarantine  ...  Follow_up_calls_inpast_24_hrs
count                40.000000  ...                      40.000000
mean                  2.675000  ...                     257.025000
std                   4.654127  ...                     197.717033
min                   0.000000  ...                       0.000000
25%                   0.000000  ...                      94.250000
50%                   0.000000  ...                     250.500000
75%                   3.000000  ...                     404.000000
max                  16.000000  ...                     719.000000

[8 rows x 5 columns]